<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzn.bysj.bbs.mapper.ReportpostMapper">


    <!-- <sql id="_column">
         id,user_name,user_password
     </sql>-->


    <select id="listReportpostAll" resultType="Reportpost">

      select reid,a.id as "reuser.id",a.username as "reuser.username",t_reportpost.pid as "post.pid",title as "post.title",bid as "post.board.boardid", reason,rtime
        from t_reportpost ,t_user a , t_post where reuid=a.id and t_reportpost.pid=t_post.pid order by rtime desc
    </select>

    <select id="listReportpost" resultType="Reportpost">

      select reid,a.id as "reuser.id",a.username as "reuser.username",t_reportpost.pid as "post.pid",title as "post.title",bid as "post.board.boardid", reason,rtime
        from t_reportpost ,t_user a , t_post where reuid=a.id and t_reportpost.pid=t_post.pid and bid=#{bid} order by rtime desc
    </select>



    <insert id="saveReportpost">
        insert into t_reportpost (reuid,pid,reason,rtime)
        values (#{reuser.id},#{post.pid},#{reason},#{rtime});
    </insert>




    <delete id="deleteReportpost">
        delete from t_reportpost
        where reid=#{reid};
    </delete>

    <delete id="deleteReportpostAll">
        delete from t_reportpost
        where pid=#{pid};
    </delete>

</mapper>

